body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

section {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    border: 2px solid #fff;
}

section .slide {
    position: relative;  
    background: #fff;
    height: 100vh;
    flex: 1;
    border-right: 2px solid #000;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

section .slide:last-child{
    border-right: none
}
section .slide:nth-child(1){
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), 
                url('https://source.unsplash.com/random/730*1020') center center;
 
    
}
section .slide:nth-child(2){
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), 
                url('https://source.unsplash.com/random/730*1021') center center;
}
section .slide:nth-child(3){
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), 
                url('https://source.unsplash.com/random/730*1022') center center;
}
section .slide:nth-child(4){
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), 
                url('https://source.unsplash.com/random/730*1023') center center;
}
section .slide:nth-child(5){
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), 
                url('https://source.unsplash.com/random/730*1024') center center;
}

section .slide .content {
    position: absolute;
    bottom: 0;
    padding: 10px;
    margin: 40px;
    background: rgba(22, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(100px);
    visibility: hidden;

}

section .slide:hover {
    flex-grow: 5;
}

section .slide:hover .content{
    opacity: 1;
    transition: 0.5s;
    transform: translateY(0);
    visibility: visible;
}

section .slide .content h1 {
    text-align: center;
}